<div  ng-controller = "HomeController" class="row feed">
		<div class="col-md-4">
        <div ng-hide = "currentUser">
        	<h4>Login</h4>
			<br>
			<input type="text" size="30" placeholder="Username" ng-model="username">
			<input type="password" size="30" placeholder="Password" ng-model="password">
			<br><br>
			<button class ="btn btn-success" type="button" ng-click="signin()">Login</button>
			<!-- <a href="#/signup">Signup</a> -->
			<button class ="btn btn-info" type="button"><a ui-sref="signup">Signup</a></button>
        </div>
        <div ng-show ="currentUser">
        	Hello,{{currentUser}}
        	<br><br>
        	<a href ng-click="logout()">Logout</a>
        </div>
		</div>

		<div class="col-md-8">
		<div class = "new-post" ng-show = "currentUser">
			<input type="text" class="form-control" ng-model = "newPost"placeholder="Whats happening?">
			<br>
			<button class = "btn btn-primary"type="button" ng-click="submitNewPost()">Submit</button>
		</div>
			<h3 ng-repeat="post in posts">
				<span class = "glyphicon glyphicon-user" aria-hidden = "true"></span>
				{{post.body}}
				<a  ng-click = "deletePost(post._id)" class = "pull-right"><span class = "glyphicon glyphicon-remove"></span></a>
				<br>
				<small>{{post.username}}</small>
			</h3>
		</div>
	</div>